/*                   Default
====================         ====================*/
a {
    text-decoration: none;
}

h2 {
    margin: 0;
}

button {
    border: none;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*                   Hovers
====================         ====================*/
.hover-1 {
    --h: 1.2em;
    line-height: var(--h);
    color: #0000;
    text-shadow:
        0 calc(-1*var(--_t,0em)) var(--c2), 
        0 calc(var(--h) - var(--_t,0em)) var(--c1);
    overflow: hidden;
    transition: .3s;
}

.hover-1:hover {
    --_t: var(--h);
    text-shadow: 
        0 calc(-1*var(--_t,0em)) var(--c1), 
        0 calc(var(--h) - var(--_t,0em)) var(--c3);
}

.hover-2 {
    transition: 0.5s;
}

.hover-2:hover {
    color: #fff;
    text-shadow: 0 0 40px #ffffff;
}

/*                   Tab
====================         ====================*/
.tab {
    position: fixed;
    opacity: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    border-left: none;
    border-right: none;
}

.tab .tab-button {
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    padding: 0;
}

.tab .tab-button svg {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0.5em;
}

.tab .tab-button p {
    margin: 0.5em;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 700;
}

.tab .tab-button:hover,
.tab .tab-button:focus {
    background-color: #191919;
    border-radius: 1em;
}

/*                   Title Section
====================         ====================*/
.title-section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.title-section .right {
    width: 100%;
    padding: 2em;
    padding-top: 6em;
    margin: 0;
}

.title-section .left {
    width: 50%;
}

.title-section .right h1 {
    margin: 0.1em;
    font-size: 6rem;
    text-align: right;
    white-space: nowrap;
}

.title-section .right h2 {
    margin: 0.1em;
    font-size: 4rem;
    text-align: right;
    white-space: nowrap;

    opacity: 0;
    animation: fade 1s forwards;
    animation-delay: 0.5s;
}

.title-section .right p {
    margin: 0.1em;
    font-size: 1.5rem;
    text-align: right;

    opacity: 0;
    animation: fade 1s forwards;
    animation-delay: 1s;
}

.title-section .left img {
    width: 600px;
    position: absolute;
    bottom: 0px;
    transition: 0.5s;
}

.title-section .header {
    font-size: 4rem;
    margin: 0;
    padding: 0.5em;
    text-decoration: underline;
}

.title-section .links-wrapper {
    position: fixed;
    display: flex;
    top: 1em;
    left: 1em;
    gap: 1em;
    z-index: 100;
}

.title-section .links-wrapper svg {
    position: relative;
    width: 60px;
    height: 60px;
}

.line {
    position: relative;
    padding: 0.8em 0em;
    width: 100%;
}

.down-arrow {
    rotate: 180deg;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: 1s;
    animation: wonder 4s infinite;
}

.down-arrow:hover,
.down-arrow:focus {
    bottom: 1em;
}

@keyframes wonder {
    25%    { 
        transform: translate(0em, 1em);
    }
    75% {
        transform: translate(0em, 0em);
    }
  }

/*                   Section
====================         ====================*/
.section {
    margin: 0;
    min-height: 82vh;
    width: 100%;
    padding: 4em 0em;
    position: relative;
    display: none;
    justify-content: center;
}

/*                   Boxes
====================         ====================*/

.box {
    position: relative;
}

.box-image img {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
}

.box-items {
    display: flex;
    align-items: stretch;
    gap: 1.5em;
    margin: 1em 0em;
}

.box-items p {
    height: 100%;
}

.box-dropdown .box-items-item {
    margin: 1em 0em;
}

.box-dropdown {
    display: none;
}

.box-items-button {
    display: flex;
    gap: 1.5em;
}

.box-items-button svg {
    rotate: 90deg;
    transition: 0.5s;
}

.box-items-item {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 1em;
}

.box-items svg {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0;
}

.box-full {
    margin: 1em;
    padding: 0em 1em;
    border-right: none;
    border-left: none;
}

.box p {
    margin: 0;
    font-size: 1.2rem;
}

.box h1 {
    font-size: 2rem;
    margin: 0;
}

.box h2 {
    font-size: 1.2rem;
}

.box button {
    border: none;
    padding: 0;
}

.box button h1:hover,
.box button h1:focus,
.box button h2:hover,
.box button h2:focus {
    text-decoration: underline;
    cursor: pointer;
}

/*                   Media
====================         ====================*/

/* Biggest screen size */
/* Essentialy a laptop screen */
@media (max-width: 90em) {
    .title-section .left img {
        width: 500px;
    }
}
@media (max-width: 70em) {
    .title-section .right h1 {
        font-size: 5rem;
    }
    .title-section .right h2 {
        font-size: 3rem;
    }
    .title-section .right p {
        font-size: 2rem;
    }
    .title-section .left img {
        width: 400px;
    }
    .down-arrow {
        right: 25%;
    }
    .box-image {
        display: none;
    }
}
@media (max-width: 50em) {
    .title-section .right h1 {
        font-size: 3.5rem;
    }
    .title-section .right h2 {
        font-size: 1.8rem;
    }
    .title-section .right p {
        font-size: 1.2rem;
    }
    .title-section .left img {
        width: 300px;
    }
    .title-section .links-wrapper svg {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 45em) {
    .box-items-button h1 {
        font-size: 1.5rem;
    }
    .box svg {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 35em) {
    .title-section .right h1 {
        font-size: 2.5rem;
    }
    .title-section .right h2 {
        font-size: 1.5rem;
    }
    .title-section .right p {
        font-size: 1.2rem;
    }
    .title-section .left img {
        width: 300px;
    }
    .down-arrow {
        right: 20%;
        width: 50px;
        height: 50px;
    }
    .box-items-button h1 {
        font-size: 1.4rem;
    }
    .box p {
        font-size: 1rem;
    }
    .box svg {
        width: 20px;
        height: 20px;
    }
    .box-dropdown h2 {
        font-size: 1rem;
    }
    .title-section .links-wrapper svg {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 30em) {
    .title-section .right h1 {
        font-size: 2rem;
    }
    .title-section .right h2 {
        font-size: 1rem;
    }
    .title-section .right p {
        font-size: 0.8rem;
    }
    .title-section .left img {
        width: 200px;
    }
    .box-items-button h1 {
        font-size: 1.1rem;
    }
    .box p {
        font-size: 0.8rem;
    }
}
@media (max-width: 24em) {
    .title-section .right h1 {
        font-size: 2rem;
    }
    .title-section .right h2 {
        font-size: 1.2rem;
    }
    .title-section .right p {
        font-size: 1.1rem;
    }
    .title-section .left img {
        width: 300px;
    }
    .down-arrow {
        right: 5%;
    }
    .box-items-button h1 {
        font-size: 1rem;
    }
}


/*                   Animations
====================         ====================*/
@keyframes fade {
    100% { opacity: 1; }
}