/*                   Colours
====================         ====================*/
:root {
    --c1: #0D1117;
    --cl1: #6e727c;
    --b: #222;
    --c2: #fff6fe;
    --c3: #BBFDAD;
    --c4: #ff80a9;
}

/*                   Default
====================         ====================*/
body {
    background-color: var(--c1);
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    margin: 0;
}

::-webkit-scrollbar {
    background: var(--c1);
    color: aqua;
}

::-webkit-scrollbar-thumb {
    background: var(--cl1); 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*                   Classes
====================         ====================*/
.fg-1 {
    color: var(--c1);
}

.fg-l1 {
    color: var(--cl1);
}

.fg-2 {
    color: var(--c2);
}

.fg-3 {
    color: var(--c3);
}

.fg-4 {
    color: var(--c4);
}

.fill-l1 {
    fill: var(--cl1);
}

.fill-2 {
    fill: var(--c2);
}

.fill-3 {
    fill: var(--c3);
}

.fill-4 {
    fill: var(--c4);
}

.bg-1 {
    background-color: var(--c1);
}

.bg-b {
    background-color: var(--b);
}

.bg-l1 {
    background-color: var(--cl1);
}

.bg-2 {
    background-color: var(--c2);
}

.bg-3 {
    background-color: var(--c3);
}

.bg-4 {
    background-color: var(--c4);
}

.border {
    border: 3px solid var(--b);
}

.border-padding {
    padding: 0.1em;
    border: 3px solid var(--b);
}

.border-hover-4:hover,
.border-hover-4:focus {
    border-top: var(--c4) solid 3px;
}

.fill-hover-4:hover,
.fill-hover-4:focus {
    fill: var(--c4);
    color: var(--c4);
}